<nav class="navbar navbar-expand-lg navbar-dark absolute-top bg-transparent py-4">
	<div class="container-fluid">
		<a class="navbar-brand" href="/" alt="Admix"><img src="~/images/logo.svg"> AdMix <span id="rotate"><span>Talk</span><span>Message</span><span>AI Chat</span><span>Stock</span><span>Forms</span></span></a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mainNavigation">
			
			<ul class="navbar-nav mx-auto">
				<li class="nav-item"><a class="nav-link" href="/marketing"><i class="fas fa-home"></i> Marketing</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-home"></i> Dashboard <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/dashboard">Dashboard</a>
						<a class="dropdown-item" href="/talk-dashboard">Talk Dash</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-home"></i> Components <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/components">Components</a>
						<a class="dropdown-item" href="/charts">Charts</a>
						<a class="dropdown-item" href="/data-tables">Data Tables</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Username <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-user-circle fa-fw"></i> My Profile</a>
						<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-credit-card fa-fw"></i> Billing</a>
						<a class="dropdown-item" href="/"><i class="fas fa-power-off fa-fw"></i> Sign Out</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href=""><i class="fas fa-th fa-fw"></i></a></li>
			</ul>
			
			<div class="form-inline">
				<a href="/login" class="btn btn-outline-light btn-sm">Login</a>
			    <a href="/sign-up" class="btn btn-dark btn-sm ml-2">Sign Up</a>
			</div>
			
		</div>
	</div>
</nav>
