@{
    ViewData["Title"] = "Components";
}


<!--Buttons-->
<section id="buttons" class="section pt-0">
	<div class="container-fluid">
		<div class="title">
            <h1>Buttons</h1>
        </div>
	        
        <h4 class="mt-5 mb-3">Style them up</h4>
        <a href="javascript:void(0)" class="btn btn-primary">Default</a>
        <a href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-star"></i> With Icon</a>
        <a href="javascript:void(0)" class="btn btn-primary btn-round">Rounded</a>
        <a href="javascript:void(0)" class="btn btn-primary btn-circle"><i class="fa fa-star"></i></a>
        <a href="javascript:void(0)" class="btn btn-primary btn-square"><i class="fa fa-star"></i></a>
        <a href="javascript:void(0)" class="btn btn-outline-primary">Outline</a>
        <a href="javascript:void(0)" class="btn btn-link">Link</a>
        
        <h4 class="mt-5 mb-3">Size wise</h4>
		<a href="javascript:void(0)" class="btn btn-primary btn-sm">Small</a>
		<a href="javascript:void(0)" class="btn btn-primary">Regular</a>
		<a href="javascript:void(0)" class="btn btn-primary btn-lg">Large</a>
		
		<h4 class="mt-5 mb-3">Some colour</h4>
		<a href="javascript:void(0)" class="btn btn-primary">Primary</a>
		<a href="javascript:void(0)" class="btn btn-secondary">Secondary</a>
		<a href="javascript:void(0)" class="btn btn-success">Success</a>
		<a href="javascript:void(0)" class="btn btn-danger">Danger</a>
		<a href="javascript:void(0)" class="btn btn-warning">Warning</a>
		<a href="javascript:void(0)" class="btn btn-info">Info</a>
		<a href="javascript:void(0)" class="btn btn-dark">Dark</a>
		<a href="javascript:void(0)" class="btn btn-light">Light</a>
		
		<h4 class="mt-5 mb-3">Outlined</h4>
		<a href="javascript:void(0)" class="btn btn-outline-primary">Primary</a>
		<a href="javascript:void(0)" class="btn btn-outline-secondary">Secondary</a>
		<a href="javascript:void(0)" class="btn btn-outline-success">Success</a>
		<a href="javascript:void(0)" class="btn btn-outline-danger">Danger</a>
		<a href="javascript:void(0)" class="btn btn-outline-warning">Warning</a>
		<a href="javascript:void(0)" class="btn btn-outline-info">Info</a>
		<a href="javascript:void(0)" class="btn btn-outline-dark">Dark</a>
		<a href="javascript:void(0)" class="btn btn-outline-light">Light</a>
		
		<h4 class="mt-5 mb-3">Plain 'ol link</h4>
		<a href="javascript:void(0)" class="btn btn-link text-primary">Primary</a>
		<a href="javascript:void(0)" class="btn btn-link text-secondary">Secondary</a>
		<a href="javascript:void(0)" class="btn btn-link text-success">Success</a>
		<a href="javascript:void(0)" class="btn btn-link text-danger">Danger</a>
		<a href="javascript:void(0)" class="btn btn-link text-warning">Warning</a>
		<a href="javascript:void(0)" class="btn btn-link text-info">Info</a>
		<a href="javascript:void(0)" class="btn btn-link text-dark">Dark</a>
		<a href="javascript:void(0)" class="btn btn-link text-light">Light</a>
		
		<h4 class="mt-5 mb-3">Social Butterfly</h4>
		<div class="row mb-3">
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-twitter"><i class="fab fa-twitter"></i> Connect with Twitter</a>
				<a href="javascript:void(0)" class="btn btn-twitter btn-simple"><i class="fab fa-twitter"></i> Connect with Twitter</a>
        	</div>
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-twitter btn-circle"><i class="fab fa-twitter"></i></a>
				<a href="javascript:void(0)" class="btn btn-twitter btn-square"><i class="fab fa-twitter"></i></a>
				<a href="javascript:void(0)" class="btn btn-twitter btn-simple btn-circle"><i class="fab fa-twitter"></i></a>
				<a href="javascript:void(0)" class="btn btn-twitter btn-simple btn-square"><i class="fab fa-twitter"></i></a>
			</div>
		</div>
		
		<div class="row mb-3">
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-facebook"><i class="fab fa-facebook"></i> Connect with Facebook</a>
				<a href="javascript:void(0)" class="btn btn-facebook btn-simple"><i class="fab fa-facebook"></i> Connect with Facebook</a>
        	</div>
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-facebook btn-circle"><i class="fab fa-facebook"></i></a>
				<a href="javascript:void(0)" class="btn btn-facebook btn-square"><i class="fab fa-facebook"></i></a>
				<a href="javascript:void(0)" class="btn btn-facebook btn-simple btn-circle"><i class="fab fa-facebook"></i></a>
				<a href="javascript:void(0)" class="btn btn-facebook btn-simple btn-square"><i class="fab fa-facebook"></i></a>
			</div>
		</div>
		
		<div class="row mb-3">
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-pinterest"><i class="fab fa-twitter"></i> Connect with Pinterest</a>
				<a href="javascript:void(0)" class="btn btn-pinterest btn-simple"><i class="fab fa-twitter"></i> Connect with Pinterest</a>
        	</div>
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-pinterest btn-circle"><i class="fab fa-pinterest"></i></a>
				<a href="javascript:void(0)" class="btn btn-pinterest btn-square"><i class="fab fa-pinterest"></i></a>
				<a href="javascript:void(0)" class="btn btn-pinterest btn-simple btn-circle"><i class="fab fa-pinterest"></i></a>
				<a href="javascript:void(0)" class="btn btn-pinterest btn-simple btn-square"><i class="fab fa-pinterest"></i></a>
			</div>
		</div>
		
		<div class="row mb-3">
			<div class="col">
				<a href="javascript:void(0)" class="btn btn-google btn-square"><i class="fab fa-google"></i></a>
				<a href="javascript:void(0)" class="btn btn-linkedin btn-square"><i class="fab fa-linkedin"></i></a>
				<a href="javascript:void(0)" class="btn btn-dribbble btn-square"><i class="fab fa-dribbble"></i></a>
				<a href="javascript:void(0)" class="btn btn-github btn-square"><i class="fab fa-github"></i></a> 
				<a href="javascript:void(0)" class="btn btn-youtube btn-square"><i class="fab fa-youtube"></i></a> 
				<a href="javascript:void(0)" class="btn btn-instagram btn-square"><i class="fab fa-instagram"></i></a> 
				<a href="javascript:void(0)" class="btn btn-reddit btn-square"><i class="fab fa-reddit"></i></a> 
				<a href="javascript:void(0)" class="btn btn-tumblr btn-square"><i class="fab fa-tumblr"></i></a> 
				<a href="javascript:void(0)" class="btn btn-behance btn-square"><i class="fab fa-behance"></i></a>
			</div>
		</div>
	</div>
</section>
<!--End-->

<!--Colours-->
<section id="colors" class="section">
	<div class="container-fluid">
		<div class="title">
            <h1>Colours</h1>
        </div>
        
        <div class="mb-4">
	        <h4 class="mt-5 mb-3">Text Colour</h4>
	        <div class="row mb-4">
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-primary rounded">.text-primary</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-secondary rounded">.text-secondary</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-success rounded">.text-success</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-danger rounded">.text-danger</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-warning rounded">.text-warning</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-info rounded">.text-info</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white text-dark rounded">.text-dark</div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-dark text-light rounded">.text-light</div>
				</div>
	        </div>
		</div>
		
		<div class="mb-4">
	        <h4 class="mt-5 mb-3">Link Colour</h4>
	        <div class="row mb-4">
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-primary">a.text-primary</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-secondary">a.text-secondary</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-success">a.text-success</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-danger">a.text-danger</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-warning">a.text-warning</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-info">a.text-info</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-white rounded"><a href="javascript:void(0)" class="text-dark">a.text-dark</a></div>
				</div>
				<div class="col-3">
					<div class="p-3 mb-2 bg-dark rounded"><a href="javascript:void(0)" class="text-light">a.text-light</a></div>
				</div>
	        </div>
		</div>
		
		<div class="mb-4">
			<h4 class="mt-5 mb-3">Background Colour</h4>
			<div class="row mb-4">
				<div class="col-4">
					<div class="p-3 mb-2 bg-primary rounded"><code class="text-white">.bg-primary</code></div>
				</div>
				<div class="col-4">
					<div class="p-3 mb-2 bg-secondary rounded"><code class="text-white">.bg-secondary</code></div>
				</div>
				<div class="col-4">
					<div class="p-3 mb-2 bg-success rounded"><code class="text-white">.bg-success</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-danger rounded"><code class="text-white">.bg-danger</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-warning rounded"><code class="text-white">.bg-warning</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-info rounded"><code class="text-white">.bg-info</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-light rounded"><code class="text-dark">.bg-light</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-white rounded"><code class="text-dark">.bg-white</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-dark rounded"><code class="text-white">.bg-dark</code></div>
				</div>
			</div>
		</div>
		
		<div class="mb-4">
			<h4 class="mt-5 mb-3">Border Colour</h4>
			<div class="row mb-4">
				<div class="col-4">
					<div class="p-3 mb-2 bg-white border border-primary rounded"><code class="text-dark">.border .border-primary</code></div>
				</div>
				<div class="col-4">
					<div class="p-3 mb-2 bg-white border border-secondary rounded"><code class="text-dark">.border .border-secondary</code></div>
				</div>
				<div class="col-4">
					<div class="p-3 mb-2 bg-white border border-success rounded"><code class="text-dark">.border .border-success</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-white border border-danger rounded"><code class="text-dark">.border .border-danger</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-white border border-warning rounded"><code class="text-dark">.border .border-warning</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-white border border-info rounded"><code class="text-dark">.border .border-info</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-white border border-dark rounded"><code class="text-dark">.border .border-dark</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-dark border border-light rounded"><code class="text-white">.border .border-light</code></div>
				</div>
				<div class="col-4">	
					<div class="p-3 mb-2 bg-dark border border-white rounded"><code class="text-white">.border .border-white</code></div>
				</div>
			</div>
		</div>
		
		<div class="mb-4">
			<h4 class="mt-5 mb-3">Gradient Colour</h4>
			<div class="row mb-4">
				<div class="col-6">
					<div class="p-3 mb-2 pri-sec-gradient rounded"><code class="text-white">.pri-sec-gradient</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 sec-pri-gradient rounded"><code class="text-white">.sec-pri-gradient</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 brand-gradient-darker rounded"><code class="text-white">.brand-gradient-darker</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 brand-gradient-lighter rounded"><code class="text-white">.brand-gradient-lighter</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 sec-gradient-darker rounded"><code class="text-white">.sec-gradient-darker</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 sec-gradient-lighter rounded"><code class="text-white">.sec-gradient-lighter</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 light-gradient rounded"><code class="text-dark">.light-gradient</code></div>
				</div>
				<div class="col-6">
					<div class="p-3 mb-2 dark-gradient rounded"><code class="text-white">.dark-gradient</code></div>
				</div>
			</div>
		</div>
		
		<div class="mb-4">
			<h4 class="mt-5 mb-3">Now, all together...</h4>
			<div class="row mb-4">
				<div class="col">
					<div class="p-3 mb-2 pri-sec-gradient text-white rounded border border-secondary">
						Background is <code class="text-white">.pri-sec-gradient</code>, colour is <code class="text-white">.text-white</code>, border is <code class="text-white">.border .border-secondary</code> and this <a href="" class="text-warning">link</a> is <code class="text-white">.text-warning</code>.
					</div>
				</div>
			</div>
		</div>
		
		<div class="mb-4">
			<h4 class="mt-5 mb-3">And even text...</h4>
			<div class="row mb-4">
				<div class="col">
					<h1 class="brand-text-gradient">Then came the night of the first falling star. The spectacle before us was indeed sublime. A red flair silhouetted the jagged edge of a wing. All their equipment and instruments are alive.</h1>
				</div>
			</div>
		</div>
        
	</div>
</section>
<!--End-->

<!--Form Components-->
<section id="form-components" class="section">
	<div class="container-fluid">
		<div class="title">
            <h1>Form Components</h1>
            <p class="lead">Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
        </div>
        
        <div class="row mb-4">
			<div class="col">
				<h4 class="mt-5 mb-3">Inputs</h4>
				<input type="text" class="form-control" placeholder="Regular Input" required="">
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Valid</h4>
				<input type="text" class="form-control is-valid" placeholder="input .is-valid" required="">
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Invalid</h4>
				<input type="text" class="form-control is-invalid" placeholder="input .is-invalid" required="">
			</div>
		</div>
		
		<div class="row mb-4">
			<div class="col">
				<h4 class="mt-5 mb-3">Icons Prepend</h4>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user-circle"></i></span>
					</div>
					<input type="text" class="form-control" placeholder="with icon">
				</div>
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Icons Append</h4>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="icon to right">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user-circle"></i></span>
					</div>
				</div>
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Append</h4>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="addon to right">
					<div class="input-group-append">
						<span class="input-group-text">@@example.com</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row mb-4">
			<div class="col">
				<h4 class="mt-5 mb-3">Select</h4>
				<select class="form-control">
				  <option selected>Open this select menu</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
				</select>
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">File Browser</h4>
				<label class="custom-file d-block">
				  <input type="file" id="file2" class="custom-file-input" placeholder="Select file...">
				  <span class="custom-file-control"></span>
				</label>
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Search</h4>
				<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="basic-addon2">
				  <div class="input-group-append">
				    <button class="btn btn-primary" type="button">Search</button>
				  </div>
				</div>
			</div>
		</div>
		
		
        <div class="row mb-4">
			<div class="col">
				<h4 class="mt-5 mb-3">Checkboxes</h4>
				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label" for="customCheck1">Check option one</label>
				</div>
				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck2">
				  <label class="custom-control-label" for="customCheck2">Check option two</label>
				</div>
				<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck3">
				  <label class="custom-control-label" for="customCheck3">Check option three</label>
				</div>
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Radio Buttons</h4>
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
				  <label class="custom-control-label" for="customRadio1">Radio option one</label>
				</div>
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
				  <label class="custom-control-label" for="customRadio2">Radio option two</label>
				</div>
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
				  <label class="custom-control-label" for="customRadio3">Radio option three</label>
				</div>
			</div>
			<div class="col">
				<h4 class="mt-5 mb-3">Textarea</h4>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
		</div>
        
        <div class="row">
			<div class="col">
				<h4 class="mt-5 mb-3">Input Groups</h4>
			</div>
        </div>
		
		<div class="row">
			<div class="col">
				
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="basic-addon1">@@</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				
				<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
				  <div class="input-group-append">
				    <span class="input-group-text" id="basic-addon2">@@example.com</span>
				  </div>
				</div>
				
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
				  </div>
				  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
				</div>
				
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text">$</span>
				  </div>
				  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
				  <div class="input-group-append">
				    <span class="input-group-text">.00</span>
				  </div>
				</div>
				
			    <div class="input-group input-daterange  mb-3">
					<input type="text" class="form-control" placeholder="Date from...">
					<div class="input-group-middel">
						<span class="input-group-text" id="">To</span>
					</div>
					<input type="text" class="form-control" placeholder="Date to...">
				</div>
			
			</div>
        </div>
        
        <div class="row">
	        
		  <div class="col">
			    <div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <div class="input-group-text">
				      <input type="checkbox" aria-label="Checkbox for following text input">
				    </div>
				  </div>
				  <input type="text" class="form-control" aria-label="Text input with checkbox">
				</div>
				
			    <div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text">$</span>
				    <span class="input-group-text">0.00</span>
				  </div>
				  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
				</div>
		  </div>
		  <div class="col">
			    <div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <div class="input-group-text">
				    <input type="radio" aria-label="Radio button for following text input">
				    </div>
				  </div>
				  <input type="text" class="form-control" aria-label="Text input with radio button">
				</div>
				
			  <div class="input-group mb-3">
				  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
				  <div class="input-group-append">
				    <span class="input-group-text">$</span>
				    <span class="input-group-text">0.00</span>
				  </div>
				</div>
		  </div>
		</div>
		
		<div class="row">
	        
		  <div class="col">
			<div class="row">
			  <div class="col-md-6">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <button class="btn btn-primary" type="button">Go!</button>
				  </div>
				  <input type="text" class="form-control" aria-label="" placeholder="Search for..." aria-describedby="basic-addon1">
				</div>
				
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="#">Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <div role="separator" class="dropdown-divider"></div>
				      <a class="dropdown-item" href="#">Separated link</a>
				    </div>
				  </div>
				  <input type="text" class="form-control" aria-label="Text input with dropdown button">
				</div>
				
			  </div>
			  <div class="col-md-6">
			    <div class="input-group mb-3">
				    <input type="text" class="form-control" aria-label="" placeholder="Search for..." aria-describedby="basic-addon1">
				  <div class="input-group-append">
				    <button class="btn btn-primary" type="button">Go!</button>
				  </div>
				</div>
				
				<div class="input-group">
				  <input type="text" class="form-control" aria-label="Text input with dropdown button">
				  <div class="input-group-append">
				    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="#">Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <div role="separator" class="dropdown-divider"></div>
				      <a class="dropdown-item" href="#">Separated link</a>
				    </div>
				  </div>
				</div>

			  </div>
			</div>

			
			
				
		  </div>
		</div>
						
		
	</div>
</section>
<!--End-->

<!--Images-->
<section id="images" class="section">
	<div class="container-fluid">
		<div class="title">
            <h1>Images</h1>
            <p class="lead">Documentation and examples for opting images into responsive behaviour (so they never become larger than their parent elements) and add 
	            lightweight styles to them—all via classes.</p>
        </div>
        
        <div class="row">
	        <div class="col-md-3 text-center">
				<h4 class="mb-3">Rounded Image</h4>
				<img src="~/images/color.jpg" alt="..." class="rounded img-fluid mx-auto">
	        </div>
	        <div class="col-md-3 text-center">
				<h4 class="mb-3">Raised Image</h4>
				<img src="~/images/color.jpg" alt="..." class="rounded img-raised img-fluid mx-auto">
	        </div>
	        <div class="col-md-3 text-center">
				<h4 class="mb-3">Thumbnails</h4>
				<img src="~/images/color.jpg" alt="..." class="img-thumbnail img-fluid mx-auto">
	        </div>
	        <div class="col-md-3 text-center">
				<h4 class="mb-3">Circle Image</h4>
				<img src="~/images/color-square.jpg" alt="..." class="img-circle img-fluid mx-auto" style="height: 170px">
	        </div>
        </div>
	</div>
</section>
<!--End-->

<!--Navs-->
<section id="navs" class="section">
	<div class="container-fluid">
		<div class="title">
            <h1>Navs</h1>
            <p class="lead">Documentation and examples for how to use Bootstrap's included navigation components.</p>
        </div>
        
        <div class="row">
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Horizontal Tabs</h4>
		        <ul class="nav nav-pills" id="" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Home</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="false">Profile</a></li>
					<li class="nav-item"><a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-expanded="false">Settings</a></li>
				</ul>
				<div class="tab-content tab-content-space" id="">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab" aria-expanded="true">
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
					</div>
					<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab" aria-expanded="false">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
					</div>
				</div>
	        </div>
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Vertical Tabs</h4>
		        <div class="row">
					<div class="col-3">
						<div class="nav flex-column nav-pills" id="" role="tablist">
							<a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-expanded="false">Home</a>
							<a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Profile</a>
							<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="false">Settings</a>
						</div>
					</div>
					<div class="col-9">
						<div class="tab-content" id="">
							<div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" aria-expanded="false">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							</div>
							<div class="tab-pane fade active show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" aria-expanded="true">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							</div>
							<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" aria-expanded="false">
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							</div>
						</div>
					</div>
				</div>
	        </div>
        </div>
        
        <div class="row">
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Rounded Tabs</h4>
		        <ul class="nav nav-pills nav-pills-primary" id="" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="one-home-tab" data-toggle="tab" href="#one-home" role="tab" aria-controls="one-home" aria-expanded="true">Home</a></li>
					<li class="nav-item"><a class="nav-link" id="one-profile-tab" data-toggle="tab" href="#one-profile" role="tab" aria-controls="one-profile" aria-expanded="false">Profile</a></li>
					<li class="nav-item"><a class="nav-link" id="one-settings-tab" data-toggle="tab" href="#one-settings" role="tab" aria-controls="one-settings" aria-expanded="false">Settings</a></li>
				</ul>
				<div class="tab-content tab-content-space" id="">
					<div class="tab-pane fade active show" id="one-home" role="tabpanel" aria-labelledby="one-home-tab" aria-expanded="true">
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
					</div>
					<div class="tab-pane fade" id="one-profile" role="tabpanel" aria-labelledby="one-profile-tab" aria-expanded="false">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
					</div>
					<div class="tab-pane fade" id="one-settings" role="tabpanel" aria-labelledby="one-settings-tab" aria-expanded="false">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
					</div>
				</div>
	        </div>
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Rounded Tabs</h4>
		        <div class="row">
					<div class="col-3">
						<div class="nav flex-column nav-pills nav-pills-primary" id="" role="tablist">
							<a class="nav-link" id="one-v-pills-home-tab" data-toggle="pill" href="#one-v-pills-home" role="tab" aria-controls="one-v-pills-home" aria-expanded="false">Home</a>
							<a class="nav-link active" id="one-v-pills-profile-tab" data-toggle="pill" href="#one-v-pills-profile" role="tab" aria-controls="one-v-pills-profile" aria-expanded="true">Profile</a>
							<a class="nav-link" id="one-v-pills-settings-tab" data-toggle="pill" href="#one-v-pills-settings" role="tab" aria-controls="one-v-pills-settings" aria-expanded="false">Settings</a>
						</div>
					</div>
					<div class="col-9">
						<div class="tab-content" id="">
							<div class="tab-pane fade" id="one-v-pills-home" role="tabpanel" aria-labelledby="one-v-pills-home-tab" aria-expanded="false">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							</div>
							<div class="tab-pane fade active show" id="one-v-pills-profile" role="tabpanel" aria-labelledby="one-v-pills-profile-tab" aria-expanded="true">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							</div>
							<div class="tab-pane fade" id="one-v-pills-settings" role="tabpanel" aria-labelledby="one-v-pills-settings-tab" aria-expanded="false">
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							</div>
						</div>
					</div>
				</div>
	        </div>
        </div>
        
        <div class="row">
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Icons</h4>
		        <ul class="nav nav-pills nav-pills-primary nav-icons-block" id="" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="two-home-tab" data-toggle="tab" href="#two-home" role="tab" aria-controls="two-home" aria-expanded="true"><i class="fas fa-globe"></i>Home</a></li>
					<li class="nav-item"><a class="nav-link" id="two-profile-tab" data-toggle="tab" href="#two-profile" role="tab" aria-controls="two-profile" aria-expanded="false"><i class="fas fa-user"></i>Profile</a></li>
					<li class="nav-item"><a class="nav-link" id="two-settings-tab" data-toggle="tab" href="#two-settings" role="tab" aria-controls="two-settings" aria-expanded="false"><i class="fas fa-cog"></i>Settings</a></li>
				</ul>
				<div class="tab-content tab-content-space" id="">
					<div class="tab-pane fade active show" id="two-home" role="tabpanel" aria-labelledby="two-home-tab" aria-expanded="true">
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
					</div>
					<div class="tab-pane fade" id="two-profile" role="tabpanel" aria-labelledby="two-profile-tab" aria-expanded="false">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
					</div>
					<div class="tab-pane fade" id="two-settings" role="tabpanel" aria-labelledby="two-settings-tab" aria-expanded="false">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork</p>
					</div>
				</div>
	        </div>
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Icons</h4>
		        <div class="row">
					<div class="col-3">
						<div class="nav flex-column nav-pills nav-pills-primary nav-icons-block" id="" role="tablist">
							<a class="nav-link" id="two-v-pills-home-tab" data-toggle="pill" href="#two-v-pills-home" role="tab" aria-controls="two-v-pills-home" aria-expanded="false"><i class="fas fa-globe"></i>Home</a>
							<a class="nav-link active" id="two-v-pills-profile-tab" data-toggle="pill" href="#two-v-pills-profile" role="tab" aria-controls="two-v-pills-profile" aria-expanded="true"><i class="fas fa-user"></i>Profile</a>
							<a class="nav-link" id="two-v-pills-settings-tab" data-toggle="pill" href="#two-v-pills-settings" role="tab" aria-controls="two-v-pills-settings" aria-expanded="false"><i class="fas fa-cog"></i>Settings</a>
						</div>
					</div>
					<div class="col-9">
						<div class="tab-content" id="">
							<div class="tab-pane fade" id="two-v-pills-home" role="tabpanel" aria-labelledby="two-v-pills-home-tab" aria-expanded="false">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							</div>
							<div class="tab-pane fade active show" id="two-v-pills-profile" role="tabpanel" aria-labelledby="two-v-pills-profile-tab" aria-expanded="true">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							</div>
							<div class="tab-pane fade" id="two-v-pills-settings" role="tabpanel" aria-labelledby="two-v-pills-settings-tab" aria-expanded="false">
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							</div>
						</div>
					</div>
				</div>
	        </div>
        </div>
        
        <div class="row">
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Just Icons</h4>
		        <ul class="nav nav-pills nav-pills-primary nav-icons-only" id="" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="three-home-tab" data-toggle="tab" href="#three-home" role="tab" aria-controls="three-home" aria-expanded="true"><i class="fas fa-globe fa-lg"></i></a></li>
					<li class="nav-item"><a class="nav-link" id="three-profile-tab" data-toggle="tab" href="#three-profile" role="tab" aria-controls="three-profile" aria-expanded="false"><i class="fas fa-user fa-lg"></i></a></li>
					<li class="nav-item"><a class="nav-link" id="three-settings-tab" data-toggle="tab" href="#three-settings" role="tab" aria-controls="three-settings" aria-expanded="false"><i class="fas fa-cog fa-lg"></i></a></li>
				</ul>
				<div class="tab-content tab-content-space" id="">
					<div class="tab-pane fade active show" id="three-home" role="tabpanel" aria-labelledby="three-home-tab" aria-expanded="true">
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan.</p>
					</div>
					<div class="tab-pane fade" id="three-profile" role="tabpanel" aria-labelledby="three-profile-tab" aria-expanded="false">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
					</div>
					<div class="tab-pane fade" id="three-settings" role="tabpanel" aria-labelledby="three-settings-tab" aria-expanded="false">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify.</p>
					</div>
				</div>
	        </div>
	        <div class="col-md-6">
		        <h4 class="mt-5 mb-3">Just Icons</h4>
		        <div class="row">
					<div class="col-3">
						<div class="nav flex-column nav-pills nav-pills-primary nav-icons-only" id="" role="tablist">
							<a class="nav-link" id="three-v-pills-home-tab" data-toggle="pill" href="#three-v-pills-home" role="tab" aria-controls="three-v-pills-home" aria-expanded="false"><i class="fas fa-globe fa-lg"></i></a>
							<a class="nav-link active" id="three-v-pills-profile-tab" data-toggle="pill" href="#three-v-pills-profile" role="tab" aria-controls="three-v-pills-profile" aria-expanded="true"><i class="fas fa-user fa-lg"></i></a>
							<a class="nav-link" id="three-v-pills-settings-tab" data-toggle="pill" href="#three-v-pills-settings" role="tab" aria-controls="three-v-pills-settings" aria-expanded="false"><i class="fas fa-cog fa-lg"></i></a>
						</div>
					</div>
					<div class="col-9">
						<div class="tab-content" id="">
							<div class="tab-pane fade" id="three-v-pills-home" role="tabpanel" aria-labelledby="three-v-pills-home-tab" aria-expanded="false">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							</div>
							<div class="tab-pane fade active show" id="three-v-pills-profile" role="tabpanel" aria-labelledby="three-v-pills-profile-tab" aria-expanded="true">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson.</p>
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							</div>
							<div class="tab-pane fade" id="three-v-pills-settings" role="tabpanel" aria-labelledby="three-v-pills-settings-tab" aria-expanded="false">
							<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork.</p>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles.</p>
							</div>
						</div>
					</div>
				</div>
	        </div>
        </div>

			<div class="row mb-4">
				<div class="col-md">
					<h4 class="mt-5 mb-3">Tabs &amp; Pills cards</h4>
					<div class="card-deck mb-4">
						<div class="card text-center">					
							<div class="card-header">					
								<ul class="nav nav-tabs card-header-tabs nav-fill" id="tabs-tab" role="tablist">
									<li class="nav-item"><a class="nav-link" id="tabs-home-tab" data-toggle="pill" href="#tabs-home" role="tab" aria-controls="tabs-home" aria-expanded="false">Home</a></li>
									<li class="nav-item"><a class="nav-link" id="tabs-profile-tab" data-toggle="pill" href="#tabs-profile" role="tab" aria-controls="tabs-profile" aria-expanded="false">Profile</a></li>
									<li class="nav-item"><a class="nav-link" id="tabs-message-tab" data-toggle="pill" href="#tabs-message" role="tab" aria-controls="tabs-message" aria-expanded="false">Message</a></li>
									<li class="nav-item"><a class="nav-link active" id="tabs-settings-tab" data-toggle="pill" href="#tabs-settings" role="tab" aria-controls="tabs-settings" aria-expanded="true">Settings</a></li>
								</ul>
							</div>
							<div class="card-body">
								<div class="tab-content" id="tabs-tabContent">
								  	<div class="tab-pane fade" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab" aria-expanded="false">
									  	Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								  	<div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab" aria-expanded="false">
									  	Cronut taiyaki hoodie marfa, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								  	<div class="tab-pane fade" id="tabs-message" role="tabpanel" aria-labelledby="tabs-message-tab" aria-expanded="false">
									  	Next level mlkshk meh, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								  	<div class="tab-pane fade active show" id="tabs-settings" role="tabpanel" aria-labelledby="tabs-settings-tab" aria-expanded="true">
									  	Authentic stumptown waistcoat, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								</div>
							</div>
						</div>				
	
						<div class="card text-center">					
							<div class="card-header bg-white">					
								<ul class="nav nav-pills card-header-pills nav-fill" id="pills-tab" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-expanded="true">Home</a></li>
									<li class="nav-item"><a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-expanded="true">Profile</a></li>
									<li class="nav-item"><a class="nav-link" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-expanded="true">Message</a></li>
									<li class="nav-item"><a class="nav-link" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-expanded="true">Settings</a></li>
								</ul>
							</div>
							<div class="card-body">
								<div class="tab-content" id="pills-tabContent">
								  	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
									  	Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								  	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
									  	Cronut taiyaki hoodie marfa, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								  	<div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
									  	Next level mlkshk meh, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								  	<div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
									  	Authentic stumptown waistcoat, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md">
					<h4 class="mt-5 mb-3">Progress Bars</h4>
					<div class="progress mb-4">
					  	<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
					</div>
					<div class="progress mb-4">
					  	<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
					</div>
					<div class="progress mb-4">
					  	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
					</div>
				</div>
				<div class="col-md">
					<h4 class="mt-5 mb-3">Breadcrumbs</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item active">Home</li>
					</ol>
					<ol class="breadcrumb">
					  	<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
					  	<li class="breadcrumb-item"><a href="javascript:void(0)">Library</a></li>
					  	<li class="breadcrumb-item active">Data</li>
					</ol>
				</div>
				<div class="col-md">
					<h4 class="mt-5 mb-3">Pagination</h4>
					<div class="mb-4">
						<nav aria-label="Page navigation example">
						  <ul class="pagination">
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
						  </ul>
						</nav>
					</div>
					<div class="mb-4">
						<nav aria-label="Page navigation example">
						  <ul class="pagination">
						    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="fa fa-chevron-left" aria-hidden="true"></i><span class="sr-only">Previous</span></a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
						    <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
						    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">4</a></li>
						    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="fa fa-chevron-right" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
						  </ul>
						</nav>
					</div>
				</div>
			</div>
	</div>
</section>
<!--End-->

<!--Notifications-->
<section id="notification" class="section">
	<div class="container-fluid">
		<div class="title">
            <h1>Notifications</h1>
            <p class="lead">Documentation and examples for adding custom Bootstrap tooltips with CSS and JavaScript using CSS3 for animations and data-attributes for local title storage.</p>
        </div>
        <h4 class="mt-5 mb-3">Alert States</h4>
	</div>
        
        <div class="mb-4">
	        
		
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<div class="container-fluid">
			  <i class="far fa-thumbs-up fa-lg fa-fw"></i> WELL DONE! You successfully read this important alert message.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fas fa-times-circle"></i></button>
				</div>
			</div>
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<div class="container-fluid">
			  <i class="fas fa-info-circle fa-lg fa-fw"></i> HEADS UP! This alert needs your attention, but it's not super important.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fas fa-times-circle"></i></button>
				</div>
			</div>
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<div class="container-fluid">
			  <i class="far fa-bell fa-lg fa-fw"></i> WARNING! Better check yourself, you're not looking too good.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fas fa-times-circle"></i></button>
				</div>
			</div>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<div class="container-fluid">
			  <i class="fas fa-exclamation-circle fa-lg fa-fw"></i> OH SNAP! Change a few things up and try submitting again.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fas fa-times-circle"></i></button>
				</div>
			</div>
			
		
		</div>
		
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-md-6">	
					
				<div class="mb-4 bd-example-notify-static">
					<h4 class="mt-5 mb-3">Popover Look</h4>
					  <div class="popover bs-popover-top bs-popover-top-docs">
					    <div class="arrow"></div>
					    <h3 class="popover-header">Popover top</h3>
					    <div class="popover-body">
					      <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					    </div>
					  </div>
				
				  <div class="clearfix"></div>
				</div>
				
				<div class="mb-4 popover-demo">
					<h4 class="mt-5 mb-3">Popovers</h4>
				  <div class="mb-4-popovers">
				    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
				      On top
				    </button>
				    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
				      On right
				    </button>
				    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
				      To bottom
				    </button>
				    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
				      On left
				    </button>
				  </div>
				</div>
				
				<div class="mb-4">
					<h4 class="mt-5 mb-3">Close Popovers</h4>
					<button type="button" class="btn btn-primary" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Now click somewhere else">Closing Popovers</button>
					<button type="button" class="btn btn-primary" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Now hover out.">Hover over me</button>
				</div>
				
			</div>
			<div class="col-md-6">
				
				<div class="mb-4 bd-example-notify-static">
					<h4 class="mt-5 mb-3">Tooltip Look</h4>
				  <div class="tooltip bs-tooltip-top bs-tooltip-top-docs" role="tooltip">
				    <div class="arrow"></div>
				    <div class="tooltip-inner">
				      Tooltip on the top
				    </div>
				  </div>
				</div>
				
				<div class="mb-4 tooltip-demo">
					<h4 class="mt-5 mb-3">Tooltips</h4>
				  <div class="bd-example-tooltips">
				    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">On top</button>
				    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">To right</button>
				    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">At bottom</button>
				    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">On left</button>
				    
				  </div>
				</div>
				
				<div class="mb-4">
					<h4 class="mt-5 mb-3">With Html</h4>
					<button type="button" class="btn btn-primary" data-toggle="tooltip" data-html="true" title="" data-original-title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">With HTML</button>
				</div>
				
			</div>
		</div>
		
		<h4 class="mt-5 mb-3">Modals</h4>
        <div class="row">
			<div class="col-md">
	        
				<!-- classicModal -->
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#classicModal">
				    Classic modal
				</button>
				
				<!-- notice modal -->
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#largeModal">
				    Large modal
				</button>
				
				<!-- small modal -->
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#smallModal">
				    Small modal
				</button>
				
				<!-- small modal -->
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#multipleModal">
				    Modal with Scroller
				</button>
				
			</div>
			
        </div>
        
	</div>
</section>

<div class="modal fade" id="classicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button>
      </div>
      <div class="modal-body">
	      Single-origin coffee affogato master cleanse la croix vinyl cliche 8-bit unicorn. Succulents paleo godard raclette hammock occupy jean shorts XOXO schlitz tattooed irony etsy fanny pack. 
	      Church-key gluten-free palo santo tote bag kitsch direct trade put a bird on it chambray pug cronut adaptogen tumeric cred. 
	      Post-ironic fixie disrupt tilde banjo etsy poutine fingerstache salvia narwhal meh banh mi next level.
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button>
      </div>
      <div class="modal-body">
	      Single-origin coffee affogato master cleanse la croix vinyl cliche 8-bit unicorn. Succulents paleo godard raclette hammock occupy jean shorts XOXO schlitz tattooed irony etsy fanny pack. 
	      Church-key gluten-free palo santo tote bag kitsch direct trade put a bird on it chambray pug cronut adaptogen tumeric cred. 
	      Post-ironic fixie disrupt tilde banjo etsy poutine fingerstache salvia narwhal meh banh mi next level.
	  </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-link" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Awesome</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button>
      </div>
      <div class="modal-body text-center">
	      Are you sure you want to do this?
	  </div>
      <div class="modal-actions">
        <button type="button" class="btn-link modal-action" data-dismiss="modal">
          <strong>Continue</strong>
        </button>
        <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="multipleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button>
      </div>
      <div class="modal-body modal-body-scroller">
        <p>Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>

        <p>Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Message">
      </div>
    </div>
  </div>
</div>
<!--End-->



@section Scripts {

}