@{
    ViewData["Title"] = "Data Tables";
}

<section class="section pb-4 pri-sec-gradient">
	<div class="container text-white">
		<div class="row">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>

<section class="section pt-5">
	<div class="container">
		<div class="row">
			<div class="col">
				
				<div class="card">
					<div class="card-body">
						<h3 class="mb-0">Table Heading</h3>
					</div>
					
					<table id="data-table" class="table table-sm mb-0 mt-0">
						<thead class="thead-light">
                            <tr>
	                            <th>&nbsp;</th>
	                            <th>Time</th>
	                            <th>From</th>
	                            <th>Goal</th>
	                            <th>Forwarded To</th>
	                            <th>Duration</th>
	                            <th>&nbsp;</th>
	                            <th>Intention</th>
	                            <th>&nbsp;</th>
	                        </tr>
                        </thead>
                        <tbody>
	                        <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-02-26</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Waylon Dalton</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Waylon Dalton</b></td>
                                <td class="text-right">65</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-04-26</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Justine Henderson</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Thalia Cobb</b></td>
                                <td class="text-right">4</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-05-01</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Abdullah Lang</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Anabelle Olsen</b></td>
                                <td class="text-right">56</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-success" data-toggle="dropdown">Lead</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-09-05</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Marcus Cruz</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Thalia Cobb</b></td>
                                <td class="text-right">87</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-10-18</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Thalia Cobb</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Justine Henderson</b></td>
                                <td class="text-right">98</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-03-05</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Mathias Little</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Thalia Cobb</b></td>
                                <td class="text-right">32</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-06-07</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Waylon Dalton</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Anabelle Olsen</b></td>
                                <td class="text-right">21</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-06-18</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Justine Henderson</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Anabelle Olsen</b></td>
                                <td class="text-right">21</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-07-13</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Abdullah Lang</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Anabelle Olsen</b></td>
                                <td class="text-right">12</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-10-16</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Thalia Cobb</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Anabelle Olsen</b></td>
                                <td class="text-right">23</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-04-11</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Mathias Little</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Mathias Little</b></td>
                                <td class="text-right">45</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-04-24</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Eddie Randolph</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Eddie Randolph</b></td>
                                <td class="text-right">45</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-06-19</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Angela Walker</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Eddie Randolph</b></td>
                                <td class="text-right">58</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-10-08</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Angela Walker</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Eddie Randolph</b></td>
                                <td class="text-right">2</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-success">
                                <td align="center"><i class="fas fa-check text-success"></i></td>
                                <td>2018-10-25</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Angela Walker</b>
                                    </div>
                                </td>
                                <td>Highway campaign</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Anabelle Olsen</b></td>
                                <td class="text-right">50</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-primary" data-toggle="dropdown">Follow Up</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                            <tr class="tr-danger">
                                <td align="center"><i class="fas fa-times text-danger"></i></td>
                                <td>2018-10-25</td>
                                <td>
                                    <div data-toggle="tooltip" title="" data-original-title="082 072 2815">
                                        <b>Angela Walker</b>
                                    </div>
                                </td>
                                <td>Contact-Us page</td>
                                <td><i class="fas fa-angle-double-right"></i> <b>Thalia Cobb</b></td>
                                <td class="text-right">39</td>
                                <td></td>
                                <td>
	                                <div class="dropdown">
										<a href="#" class="badge badge-pill badge-secondary" data-toggle="dropdown">Unclassified</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                                <td align="right">
                                    <div class="dropdown">
										<a href="#" class="btn btn-light btn-circle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
                                </td>
                            </tr>
                        </tbody>
					</table>
					
				</div>
				
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<!-- Vendors: Data tables -->
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/jszip/dist/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    
    <script>
	    $(document).ready(function () {
	
			if($('#data-table')[0]) {
		
		        // Add custom buttons
		        var dataTableButtons =  '<div class="btn-group actions">' + 
										  '<button type="button" class="btn btn-link" data-table-action="print"><i class="fas fa-print"></i></button>' +
										  '<button type="button" class="btn btn-link" data-table-action="fullscreen"><i class="fas fa-expand"></i></button>' +
										  '<div class="btn-group" role="group">' +
										    '<button id="btnGroupDrop1" type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-download"></i></button>' +
										    '<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">' +
										      '<a class="dropdown-item" href="#" data-table-action="excel">Excel (.xlsx)</a>' +
										      '<a class="dropdown-item" href="#" data-table-action="csv">CSV (.csv)</a>' +
										    '</div>' +
										  '</div>' +
										'</div>';
		
		        // Initiate data-table
		        $('#data-table').DataTable({
		            autoWidth: false,
		            responsive: true,
		            lengthMenu: [[15, 30, 45, -1], ['15 Rows', '30 Rows', '45 Rows', 'Everything']], //Length select
		            language: {
		                searchPlaceholder: "Search for records..." // Search placeholder
		            },
		            dom: 'Blfrtip',
		            buttons: [ // Data table buttons for export and print
		                {
		                    extend: 'excelHtml5',
		                    title: 'Export Data'
		                },
		                {
		                    extend: 'csvHtml5',
		                    title: 'Export Data'
		                },
		                {
		                    extend: 'print',
		                    title: 'Dealer List'
		                }
		            ],
		            "initComplete": function(settings, json) {
		                $(this).closest('.dataTables_wrapper').prepend(dataTableButtons); // Add custom button (fullscreen, print and export)
		            },
		            "bPaginate": false,
	                "bLengthChange": false,
	                "bFilter": false,
	                "bSort": true,
	                "bInfo": false,
	                "bAutoWidth": false,
	                "order": [[1, "desc"]],
	                "aoColumns": [
	                    { "bSortable": false },
	                    { "bSortable": true },
	                    { "bSortable": false },
	                    { "bSortable": false },
	                    { "bSortable": false },
	                    { "bSortable": true },
	                    { "bSortable": false },
	                    { "bSortable": true },
	                    { "bSortable": false }
	                ]
		        });
		
		        // Data table button actions
		        $('body').on('click', '[data-table-action]', function (e) {
		            e.preventDefault();
		
		            var exportFormat = $(this).data('table-action');
		
		            if(exportFormat === 'excel') {
		                $(this).closest('.dataTables_wrapper').find('.buttons-excel').trigger('click');
		            }
		            if(exportFormat === 'csv') {
		                $(this).closest('.dataTables_wrapper').find('.buttons-csv').trigger('click');
		            }
		            if(exportFormat === 'print') {
		                $(this).closest('.dataTables_wrapper').find('.buttons-print').trigger('click');
		            }
		            if(exportFormat === 'fullscreen') {
		                var parentCard = $(this).closest('.card');
		
		                if(parentCard.hasClass('card--fullscreen')) {
		                    parentCard.removeClass('card--fullscreen');
		                    $('body').removeClass('data-table-toggled');
		                }
		                else {
		                    parentCard.addClass('card--fullscreen')
		                    $('body').addClass('data-table-toggled');
		                }
		            }
		        });
		    }
		    
		});
	</script>
}